@import 'variables.scss';

body {
    background-image: url('../Assets/Imgs/home-img.png');
    color: white;
    padding: 1.2em;
}

//Small Screen
@media screen and (max-width: $break-small) {
body {
    padding: 0;
}
}