@import 'variables.scss';

.navBar {
    background-color: $darkTransparent;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    h1 {
        font-family: $font;
        font-size: 84px;
        color: $white;
        text-shadow: 2px 2px $red;
        margin: 0;
    }
    button {
        cursor: pointer;
        background-color: rgba(0,0,0,0);
        padding: 0.5em 3em;
        border: 1px solid $white;
        border-radius: 10px;
        margin: 0 0.3em 0.3em 0;
        text-decoration: none;
        font-family: $font;
        font-size: 18px;
        color: $white;
        text-align: center;
        &:hover {
            box-shadow: 2px 2px $red;
        }
    }
}