// Colors
$white: #FFFFFF;
$black: #000000;
$dark: #24262b;
$red: #cc0000;
$green: #39ff14;
$darkTransparent: rgba(36, 38, 43, 0.9);
$lightTransparent: rgba(255, 255, 255, 0.9);

// Font
$font: 'Roboto Slab', serif;;

// Media Queries 
$break-small: 576px;
$break-med: 768px;
$break-large: 992px;
$break-xlarge: 1980px;